<div class="container">

    <nav class="row " style="box-shadow: none; height: 3em; background-color: white">
        
        <div class="nav-wrapper container " style="background-color: white !important; color: black  !important;  ">
        <div class="col s4 m2 l1 offset-l1 logo" style=" color: black  !important; width: 11.5%; height: 4em; "></div>
        <ul id="nav-mobile" class="right hide-on-med-and-down col s4 m2 l9" >
            <li class="col l7 offset-l1"><input type="search" name="search" placeholder="Discover Recommendations on Complaints" class="col s12"/><li>
            <!--<li class="col offset-l1"><a routerLink="rant" style=" color: black  !important;  ">Report an Issue</a></li>-->
            <li><a class=" btn waves-effect btn-flat btn-small tpri-color ">Login</a></li>
            <li><a class=" btn waves-effect btn-small pri-color ">Sign Up</a></li>
        </ul>
        
        </div>

    </nav>
        

    <div class="row">
        <router-outlet></router-outlet>
    </div>

</div>        
