    <nav class="row" style="box-shadow: none; height: 3em; background-color: white">
        
        <div class="nav-wrapper container " style="background-color: white !important; color: black  !important;  ">
            <div class="col s4 m2 l1 offset-l1 logo" style=" color: black  !important; width: 11.5%; height: 4em; "></div>
                <ul id="nav-mobile" class="right hide-on-med-and-down col s4 m2 l9" >
                    <li class="col l6 "><input type="search" name="search" placeholder="Discover Recommendations on Complaints" class="col s12"/><li>
                    <li class="col l1 offset-l1"><a class=" btn waves-effect btn-flat btn-small tpri-color">Login</a></li>
                    <li class="col l1 "><a class=" btn waves-effect btn-small pri-color ">Sign Up</a></li>
                </ul>
        </div>  
    </nav>

    <!--<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <div class="logo" style=" color: black  !important; width: 11.5%; height: 4em; float: left "></div>
      <span>
      <ul class="right hide-on-med-and-down">
        <li><input type="search" name="search" placeholder="Discover Recommendations on Complaints" ><li>
        <li><a class=" btn waves-effect btn-flat btn-small tpri-color">Login</a></li>
        <li><a class=" btn waves-effect btn-small pri-color ">Sign Up</a></li>
      </ul>
      </span>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>-->

    <div class="row">
        <router-outlet></router-outlet>
    </div>


    
        
