<div class="row dpri-color lower">
  <div class="col s12 m7 l7 offset-l1">
    <h5>Voice out your Complaint.</h5>
    <p>What ever wrong has been done here is you chance to make it right.. say something..</p>
  </div>
  <div class="col s12 m7 l3" style="margin-top: 0em;">
    <a (click)="openModal() " class=" modal-trigger waves-effect waves-light btn pri-color col l12" style="padding: 0.5em 0; height: 3.3em;">Voice a Complaint</a>
  </div>
</div>
<div class="row dpri-color" style="margin-top:-10em; ">
  <div class="col l6 offset-l3 dpri-color" style="padding: 0;">
      <ul class="tabs main-tabs " >
        <li class="tab col s3 dpri-color" style="width: 7em"><a href="#test1">Recent <i class="material-icons right">new_releases</i></a></li>
        <li class="tab col s3 dpri-color"style="width: 8em"><a class="" href="#test2">All-time <i class="material-icons right">hourglass_empty</i></a></li>
        <li class="tab col s3 dpri-color" style="width:7em"><a href="#test3">Hot<i class="material-icons right">trending_up</i></a></li>
        <li class="tab col s3 dpri-color" style="width: 10em" ><a href="#test4">Needs Help<i class="material-icons right">whatshot</i></a></li>
        <div class="indicator orange" style="z-index:1; height:0.2em;"></div>
      </ul>
      
      
    </div>
</div>


<div class="row dpri-color" style="margin-top:-1.33em;">
    <div class="col l6 offset-l2">
      <div id="test1" class="col s12">
        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">No light for 2weeks</span>
                <p>We have been in the dark in ikorodu for over 2 weeks and PHCN has not even as much as given us a hint ofo how as regards that issue</p>
                <div class="row lower">
                  <div class="col s1" style="">
                  <div class="circle" style=" height: 4em; width: 165%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9" style="margin-left: 1em;">
                  <div class="header" style="font-weight: bold;">
                    Segun Obi
                  </div>
                  <p>
                    Civil Servant, FIRS · Spoke 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">
                  <span class="circle left white-text" style=" width:1.6em; margin-right:0.5em; padding-left:0.2em;   background-color: rgba(255, 162, 0, 1)">12</span>
                  Recommend</a>
                <a href="#">Share</a>
                <a href="#">Follow</a>
                
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Tax Fraud for 12 years</span>
                <p>My tax account has been overrated, i found this out when i hired a reliable tax accountant to for the first time look into my tax history only to discover that i have been over paying for 12 yrs</p>
                <div class="row lower">
                  <div class="col s1" style="">
                  <div class="circle" style=" height: 4em; width: 165%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9" style="margin-left: 1em;">
                  <div class="header" style="font-weight: bold;">
                    Fummi bennet
                  </div>
                  <p>
                    CEO, Disqus · Spoke 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Recommend</a>
                <a href="#">Share</a>
                <a href="#">Follow</a>
                
              </div>
            </div>
          </div>
        </div>

       

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Killing in Zamfara, Zamfara</span>
                <p>In the wee hours of today a large truck of armed men were reported to have driven into our town shooting mercillessly eye witness say that these men came asking for Tabi the governors daughter</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Kaje Iblis
                  </div>
                  <p>
                    Cattle Rearer, Sokoto · Spoke 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Recommend</a>
                <a href="#">Share</a>
                <a href="#">Follow</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col l2 offset-l1">
      <div class="row aside" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title" style="font-size: 140%; border-bottom: 1px solid rgba(242, 242, 242, 1);">MOST HELPFUL THIS WEEK</span>
                
                <div class="row lower people-links">
                  <div class="col s4" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s8">
                  <div class="header" style="font-weight: bold;">
                    Kaje Iblis
                  </div>
                    <div>
                      <p>
                        Cattle Rearer, Sokoto ·
                      </p>
                    </div>
                  </div>
                </div>
                
                <div class="row lower people-links">
                  <div class="col s4" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s8">
                  <div class="header" style="font-weight: bold;">
                     Fummi bennet
                  </div>
                    <div>
                      <p>
                         CEO, Disqus ·
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row lower people-links">
                  <div class="col s4" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s8">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                    <div>
                      <p>
                        Product Marketing, Disqus ·
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row lower people-links">
                  <div class="col s4" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s8">
                  <div class="header" style="font-weight: bold;">
                     Segun Obi
                  </div>
                    <div>
                      <p>
                        Civil Servant, FIRS ·
                      </p>
                    </div>
                  </div>
                </div>
               
               



              </div>
              
            </div>
          </div>
        </div>
    </div>
    
  </div>




  <!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer " style="height:45em; width: 70em;" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content modal1style" >
      <!--  / modal-content -->
     
      <nav style="box-shadow: none; background-color: none ">
     <div class="nav-wrapper" style="background-color:white; border-bottom: 1px solid rgba(255, 162, 0, 1)">
     <h5 style="color: rgba(255, 103, 0, 1)">New Complaint</h5> 
     <i class="close material-icons topright waves-effect waves-lightblue"  (click)="closeModal()"></i>  
     </div>
  </nav>
  <div class="row dcontent">
      <!-- form content -->
      <div class="row">
    <form materialize class="col s12" #f="ngForm" (ngSubmit)="submitCreate(f, users)" novalidate style="color: rgba(128, 127, 127, 1);">
      <div class="row ">
        <div class="col s1" ><i class="material-icons" style="font-size: 400%; color: rgba(244, 244, 244, 1) ">account_circle</i></div>
        <div class="col s11">
        <div class="row">
        <div class="input-field col s12 smallformdivedit">
          
          <input id="icon_prefix" type="text" class="validate smallformedit" name="firstName" ngModel>
          <label for="icon_prefix">Complaint title</label>
        </div>
          <div class="input-field col s12 smallformdivedit">
          
          <input id="icon_prefix" type="text" class="validate smallformedit" name="lastName" ngModel>
          <label for="icon_prefix">Description</label>
        </div>
        <a class="btn btn-small pri-color ">Add Exhibit</a>
        <a class="btn btn-small pri-color ">Add Tags</a>
        
      </div>
      
     
    
     

        </div>
      </div>
    </form>
  </div>
      <!-- . form content -->
     
  </div>
  <!--  / modal-content -->
  </div>
  <div class="modal-footer" style="border: none;">
    <!--<a class="modal-action modal-close waves-effect waves-lightblue btn-flat left">Additional Info</a>-->
    <a class="modal-action modal-close waves-effect waves-lightblue btn-flat" (click)="submitCreate(f, users)">Save</a>
    <a class="waves-effect waves-lightblue btn-flat" (click)="closeModal()">Cancel</a>
  </div>
</div>
  <!--   FGSBNERBJR VRENKBG HGJEGJERGB EGJKG GBNR GDRGB DBDBDNBNDB NJDRZB JKZSGVJDBKDNBJDNBJDGBJGNJDGNJDFGBJDFNBJDGNJG-->