<div class="row dpri-color lower">
  <div class="col s12 m7 l7 offset-l1">
    <h5>Voice out your Complaint.</h5>
    <p>What ever wrong has been done here is you chance to make it right.. say something..</p>
  </div>
  <div class="col s12 m7 l3" style="margin-top: 0em;">
    <a class="waves-effect waves-light btn dpri-color col l12" style="padding: 0.5em 0; height: 3.3em;">Voice a Complaint</a>
  </div>
</div>
<div class="row dpri-color" style="margin-top:-10em; ">
  <div class="col l6 offset-l1 dpri-color" style="padding: 0;">
      <ul class="tabs main-tabs " >
        <li class="tab col s3 dpri-color" style="width: 7em"><a href="#test1">Latest <i class="material-icons right">new_releases</i></a></li>
        <li class="tab col s3 dpri-color"style="width: 8em"><a class="" href="#test2">Lingering <i class="material-icons right">hourglass_empty</i></a></li>
        <li class="tab col s3 dpri-color" style="width:7em"><a href="#test3">Trending<i class="material-icons right">trending_up</i></a></li>
        <li class="tab col s3 dpri-color" style="width: 10em" ><a href="#test4">Burning Issues<i class="material-icons right">whatshot</i></a></li>
        <div class="indicator orange" style="z-index:1; height:0.2em;"></div>
      </ul>
      
      
    </div>
</div>


<div class="row dpri-color" style="margin-top:-1.33em;">
    <div class="col l7 offset-l1">
      <div id="test1" class="col s12">
        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s1" style="">
                  <div class="circle" style=" height: 4em; width: 165%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9" style="margin-left: 1em;">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">
                  <span class="circle left white-text" style=" width:1.6em; margin-right:0.5em; padding-left:0.2em;   background-color: rgba(255, 162, 0, 1)">12</span>
                  Supports</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s1" style="">
                  <div class="circle" style=" height: 4em; width: 165%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9" style="margin-left: 1em;">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s1" style="">
                  <div class="circle" style=" height: 4em; width: 165%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9" style="margin-left: 1em;">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s1" style="">
                  <div class="circle" style=" height: 4em; width: 165%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9" style="margin-left: 1em;">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s1" style="">
                  <div class="circle" style=" height: 4em; width: 165%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9" style="margin-left: 1em;">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s1" style="">
                  <div class="circle" style=" height: 4em; width: 165%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9" style="margin-left: 1em;">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="test2" class="col s12">

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s1" style="">
                  <div class="circle" style=" height: 4em; width: 165%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9" style="margin-left: 1em;">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s1" style="">
                  <div class="circle" style=" height: 4em; width: 165%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9" style="margin-left: 1em;">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s1" style="">
                  <div class="circle" style=" height: 4em; width: 165%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9" style="margin-left: 1em;">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s1" style="">
                  <div class="circle" style=" height: 4em; width: 165%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9" style="margin-left: 1em;">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">
                  
                  Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div id="test3" class="col s12">

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div id="test4" class="col s12">

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I'm looking for an app I saw recently but can't remember the name of. It would as an example,
                   let me create a workflow called "Work" where I could say "Open Sublime Text and my /Work directory,
                    and also close Safari and Tweetbot"</p>
                <div class="row lower">
                  <div class="col s2" style="">
                  <div class="circle" style=" height: 4em; width: 80%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                  <p>
                    Product Marketing, Disqus · Asked 4h ago
                  </p>
                  </div>
                  
                </div>
              </div>
              <div class="card-action">
                <a href="#">Support</a>
                <a href="#">Share</a>
                <a href="#">Comment</a>
                <a href="#">React</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col l3 offset-l1">
      <div class="row aside" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title" style="font-size: 140%; border-bottom: 1px solid rgba(242, 242, 242, 1);">MOST VALUABLE AMBASSADORS</span>
                
                <div class="row lower people-links">
                  <div class="col s3" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                    <div>
                      <p>
                        Product Marketing, Disqus ·
                      </p>
                    </div>
                  </div>
                </div>
                
                <div class="row lower people-links">
                  <div class="col s3" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                    <div>
                      <p>
                        Product Marketing, Disqus ·
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row lower people-links">
                  <div class="col s3" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                    <div>
                      <p>
                        Product Marketing, Disqus ·
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row lower people-links">
                  <div class="col s3" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                    <div>
                      <p>
                        Product Marketing, Disqus ·
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row lower people-links">
                  <div class="col s3" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                    <div>
                      <p>
                        Product Marketing, Disqus ·
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row lower people-links">
                  <div class="col s3" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                    <div>
                      <p>
                        Product Marketing, Disqus ·
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row lower people-links">
                  <div class="col s3" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                    <div>
                      <p>
                        Product Marketing, Disqus ·
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row lower people-links">
                  <div class="col s3" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                    <div>
                      <p>
                        Product Marketing, Disqus ·
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row lower people-links">
                  <div class="col s3" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                    <div>
                      <p>
                        Product Marketing, Disqus ·
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row lower people-links">
                  <div class="col s3" style="">
                  <div class="circle" style=" height: 4em; width: 130%; background-color: rgba(242, 242, 242, 1)">
                  </div>
                  </div>
                  <div class="col s9">
                  <div class="header" style="font-weight: bold;">
                    Roy bennet
                  </div>
                    <div>
                      <p>
                        Product Marketing, Disqus ·
                      </p>
                    </div>
                  </div>
                </div>



              </div>
              
            </div>
          </div>
        </div>
    </div>
    
  </div>