.pri-color{
background-color:rgba(255, 103, 0, 1);
}
.pri-color{
background-color:rgba(255, 103, 0, 1);
}
.acc-color{
background-color:rgba(16, 75, 169, 1);
}
.dpri-color{
background-color:rgba(252, 252, 252, 1);
}
.dacc-color{
background-color:rgba(255, 162, 0, 1);
}
.lower{
    padding-top: 2em;
}
.card{
    font-size: 80%;
}
.card-content div{
    margin-top:-0.3em; 
}
.card-title{
    font-weight: bold;
}
.card-action{
    margin-top: -2.5em;
    
}
.card-action{
    color: black;
}
.aside{
    font-size: 90%;
}
.people-links{
    margin:0;
}
.people-links div{
    margin-left:-1.2em; 
}
.people-links div:nth-child(2n) div{
    margin-left: -0.5em;
}
.main-tabs li a{
    font-size: 80%;
    text-align: left;
    
    padding-right: 0;
    padding-left: 0.5em;
    color: black;
}
.main-tabs i{
    margin: 0.5em 0.6em 0 0;
}
/*.main-tabs li :last-child a{
    width: 1em;
    border: 1px solid cadetblue
}*/
.topic-pic{
    background-color: rgba(90, 252, 225, 0.1) ;
    height: 4em;
}
.feed-pic{
    width:5em;
    height:5em;
    background-color: rgba(90, 252, 225, 0.1);
}
.feed-pic+ div h5{
    padding-left: 5em;
    padding-top: 0.8em;
    font-size: 150%;
}
.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}