<div class="row white lower" style="border-top: 1px solid rgba(221, 221, 221, 1); padding-bottom: 2em;">
  <div class="col s12 m7 l4 offset-l1">
    <h5>Let your voice be heard</h5>
    <p>Let the world know how you have been wronged, get the attention of those that can do something or just complain until someone notices</p>
    <a class="waves-effect waves-light btn pri-color col l6" style="padding: 0.2em 0; height: 2.5em;">Sign Up</a>
  </div>
  <div class="col s12 m7 l5" style="margin-top: 0em; height: 17em; border: 1px solid rebeccapurple">
   
  </div>
</div>
<div class="row dpri-color" style="margin-top:0; padding-top: 3em; border-top: 1px solid rgba(221, 221, 221, 1);  ">
  <div>
</div>


<div class="row dpri-color" style="margin-top:-1.33em;">
    <div class="col l3">
      <div class="row aside" style="">
          <div class="col s12 m6 l12">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <span class="card-title" style="font-size: 140%; border-bottom: 1px solid rgba(242, 242, 242, 1);">FEEDS</span>
                
                <div class="row">
                      <div class="feed-pic left"> 

                      </div>
                       <div>
                         <h5> Abuse</h5>
                      </div>
                </div>
                
                 <div class="row">
                      <div class="feed-pic left"> 

                      </div>
                       <div>
                         <h5> Abuse</h5>
                      </div>
                </div>
 <div class="row">
                      <div class="feed-pic left"> 

                      </div>
                       <div>
                         <h5> Abuse</h5>
                      </div>
                </div>



              </div>
              
            </div>
          </div>
        </div>
    </div>
    <div class="col l6 ">
      <div id="test1" class="col s12">
        <div class="row" style="">
          <div class="col s12 m6 l12">
            <ul class="collection">
              <h5 style="padding: 0.5em 1em; background-color: white; margin: 0; border-bottom: 1px solid rgba(242, 242, 242, 1)">Latest Stories <span class="right" style="font-size:50%;">Popular / Newest</span></h5>
              
      <li class="collection-item row">

        <div class="topic-pic col s1">

        </div>
        <div class="col s10">
          <span class="row card-title">Title of post</span>
          <span class="row`"><p>a resonably short description of what its about</p></span>
          
        </div>
        <div class="col s12">
            <a class="waves-effect waves-light btn btn-flat btn-small">tags</a>
            <a class="waves-effect waves-light btn btn-flat btn-small right">Upvote</a>
            <a class="waves-effect waves-light btn btn-flat btn-small right">Comment</a>
          </div>

      </li>
      <li class="collection-item row">

        <div class="topic-pic col s1">

        </div>
        <div class="col s10">
          <span class="row card-title">Title of post</span>
          <span class="row`"><p>a resonably short description of what its about</p></span>
          
        </div>
        <div class="col s12">
            <a class="waves-effect waves-light btn btn-flat btn-small">tags</a>
            <a class="waves-effect waves-light btn btn-flat btn-small right">Upvote</a>
            <a class="waves-effect waves-light btn btn-flat btn-small right">Comment</a>
          </div>

      </li>
      <li class="collection-item row">

        <div class="topic-pic col s1">

        </div>
        <div class="col s10">
          <span class="row card-title">Title of post</span>
          <span class="row`"><p>a resonably short description of what its about</p></span>
          
        </div>
        <div class="col s12">
            <a class="waves-effect waves-light btn btn-flat btn-small">tags</a>
            <a class="waves-effect waves-light btn btn-flat btn-small right">Upvote</a>
            <a class="waves-effect waves-light btn btn-flat btn-small right">Comment</a>
          </div>

      </li>
      <li class="collection-item row">

        <div class="topic-pic col s1">

        </div>
        <div class="col s10">
          <span class="row card-title">Title of post</span>
          <span class="row`"><p>a resonably short description of what its about</p></span>
          
        </div>
        <div class="col s12">
            <a class="waves-effect waves-light btn btn-flat btn-small">tags</a>
            <a class="waves-effect waves-light btn btn-flat btn-small right">Upvote</a>
            <a class="waves-effect waves-light btn btn-flat btn-small right">Comment</a>
          </div>

      </li>
      <li class="collection-item row">

        <div class="topic-pic col s1">

        </div>
        <div class="col s10">
          <span class="row card-title">Title of post</span>
          <span class="row`"><p>a resonably short description of what its about</p></span>
          
        </div>
        <div class="col s12">
            <a class="waves-effect waves-light btn btn-flat btn-small">tags</a>
            <a class="waves-effect waves-light btn btn-flat btn-small right">Upvote</a>
            <a class="waves-effect waves-light btn btn-flat btn-small right">Comment</a>
          </div>

      </li>
      <li class="collection-item row">

        <div class="topic-pic col s1">

        </div>
        <div class="col s10">
          <span class="row card-title">Title of post</span>
          <span class="row`"><p>a resonably short description of what its about</p></span>
          
        </div>
        <div class="col s12">
            <a class="waves-effect waves-light btn btn-flat btn-small">tags</a>
            <a class="waves-effect waves-light btn btn-flat btn-small right">Upvote</a>
            <a class="waves-effect waves-light btn btn-flat btn-small right">Comment</a>
          </div>

      </li>
    </ul>
            
          </div>
        </div>

        
      </div>
      
    </div>
    
    
  </div>